---
import Layout from "../layouts/Layout.astro";
import { Fonter as Editor } from "../components/Fonter.tsx";
---

<Layout
	title="Fonter"
	desc="Fonter is a tool to help you create a font texture for the Bloodmage Engine."
>
	<h1 class="text-4xl mb-4">Fonter</h1>

	<p>
		Fonter is a tool to help you create a font texture for the Bloodmage
		Engine.
	</p>

	<Editor client:only />

	<div class="block h-[50vh]"></div>
</Layout>
