---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout
	title="Bloodmage Software"
	desc="Crafting epic RPGs with our unique game engine. Unleash your inner hero. Join us on a journey of magic and adventure!"
>
	<h1 class="text-4xl mb-4">Bloodmage Software</h1>

	<p>
		Welcome to Bloodmage Software, where the magic of gaming's golden age
		meets cutting-edge creativity!
	</p>
	<br />
	<p>
		At Bloodmage Software, we're not just a game studio; we're curators of
		nostalgia and architects of immersive adventures. We specialize in
		crafting retro-style adventure games that transport players back to the
		cherished eras of pixelated wonders and captivating storytelling.
	</p>

	<img
		src="https://go.dev/images/gophers/ladder.svg"
		alt="Gopher on ladder"
		class="w-1/4 md:w-1/12 mt-24 float-right"
	/>
	<h2 class="text-2xl mt-24 mb-4">The Tech</h2>
	<p>
		We use <Link href="https://www.raylib.com/">raylib</Link> for our games.
		We want our games to be accessible to as many people as possible, so we aim
		to support as many platforms as we can and <Link
			href="https://www.raylib.com/"
		>
			raylib
		</Link> helps us do that.
	</p>
	<p>
		Our programming language of choice is <Link href="https://go.dev/">
			Go
		</Link>. We love its simplicity and performance.
	</p>

	<div class="block h-[50vh]"></div>
</Layout>
