---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Bloodmage Software" desc="Where the magic of gaming lives on">
	<h1 class="mb-0">Bloodmage Software</h1>
	<p class="mt-0 mb-16">where the magic of gaming lives on!</p>

	<p>Hey, my name it Frank. I am Bloodmage Software.</p>
	<p>
		Yes, I am just one guy. And I coundn't find the perfect game for me. So
		I decided to make it myself.
	</p>
	<p>
		Starting with an unusually simple game called <Link
			href="https://store.steampowered.com/app/3104840/Mageanoid/"
		>
			Mageanoid
		</Link>. It's not a serious project. I wanted to learn the Rust
		programming language, the Bevy game engine and the Steamworks platform
		(where developers can publish their games to Steam).
	</p>

	<h2>Upcoming</h2>
	<p>Leiden is the project I am currently working on.</p>
	<p>
		It will be a story focused 2D game. You explore the city Leiden and its
		surrounding area in a dark medieval fantasy.
	</p>

	<h2>What you can expect of me</h2>
	<ul>
		<li>Staying at a reasonable price for an indie game.</li>
		<li>Free demo. Any progress will be transferred to the full game.</li>
		<li>
			Source code available on GitHub (for free).
			<br />
			Though I encourage you to support me by buying the game on Steam or itch.io.
		</li>
		<li>Support for Windows, Linux and Mac OS.</li>
	</ul>

	<h2>
		What I definitely will <span class="underline font-bold">never</span> do
	</h2>
	<ul>
		<li>
			Shutting any services down and making the game unplayable without
			providing an alternative.
		</li>
		<li>
			Selling extra content (microtransactions, DLCs, etc.).
			<br />
			You buy the game once and you get the full game. If I ever decide to
			add more content, you will get it for free.
		</li>
	</ul>
</Layout>
