---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="Bloodmage Software" desc="Where the magic of gaming lives on">
	<h1 class="text-5xl mb-4">Bloodmage Software</h1>

	<p class="mb-4">
		Welcome to Bloodmage Software, where we breathe new life into
		retro-style gaming experiences! Our studio is dedicated to crafting
		captivating story adventure games that harken back to the golden era of
		gaming while infusing them with fresh narratives and innovative gameplay
		mechanics.
	</p>

	<img
		src="https://go.dev/images/gophers/ladder.svg"
		alt="Gopher on ladder"
		class="w-1/4 md:w-1/12 mt-24 float-right"
	/>

	<p class="mb-4">
		At Bloodmage Software, we take pride in our unique approach to game
		development. Unlike other game studios, we eschew popular game engines
		like Unreal or Unity in favor of our own proprietary technology built on <Link
			href="https://www.raylib.com/"
		>
			Raylib
		</Link>.
		<Link href="https://www.raylib.com/">Raylib</Link> is a simple and easy-to-use
		library for creating games and multimedia applications, providing us with
		the flexibility and control needed to bring our creative visions to life.
	</p>

	<p class="mb-4">
		But that's not all—our games are not only crafted with passion but also
		with a commitment to open source principles. Every line of code behind
		our games is freely available for exploration and modification by the
		community, fostering collaboration and creativity among developers and
		gamers alike.
	</p>

	<p class="mb-4">
		Behind the scenes, our games are powered by <Link
			href="https://go.dev/"
		>
			Go
		</Link>, a powerful and efficient programming language known for its
		simplicity, concurrency support, and robust standard library. With <Link
			href="https://go.dev/"
		>
			Go
		</Link> at our disposal, we're able to write clean, concise, and performant
		code that forms the backbone of our immersive gaming experiences.
	</p>

	<p class="mb-4">
		Join us on our journey as we continue to push the boundaries of
		retro-style gaming, blending nostalgia with innovation to create
		unforgettable adventures for players old and new.
	</p>

	<p>Welcome to Bloodmage Software — where the magic of gaming lives on!</p>

	<div class="block h-[50vh]"></div>
</Layout>
